# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver

In [2]:
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [3]:

#nav.get('https://www.google.com') Teste do webdriver

In [4]:
nav = webdriver.Chrome()

for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    produto = produto.replace ('á','a').replace('ç','c').replace('ã','a').replace(
        'ç','c').replace('ó','o').replace('ú','u').replace('é','e')
    link=f'https://www.melhorcambio.com/{produto.lower()}-hoje'
    print(link)
    nav.get(link)
    preco = nav.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.','').replace(',','.')
    print(preco)
    tabela.loc[linha, 'Preço Atual'] = float(preco)
    
display(tabela)

https://www.melhorcambio.com/milho-hoje
85.49
https://www.melhorcambio.com/soja-hoje
162.64
https://www.melhorcambio.com/boi-hoje
276.05
https://www.melhorcambio.com/petroleo-hoje
393.26
https://www.melhorcambio.com/algodao-hoje
498.88
https://www.melhorcambio.com/acucar-hoje
134.64
https://www.melhorcambio.com/cafe-hoje
1087.87
https://www.melhorcambio.com/ouro-hoje
327.99
https://www.melhorcambio.com/trigo-hoje
1546.08
https://www.melhorcambio.com/tilapia-hoje
9.05

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49      NaN
1      Soja       163.59       162.64      NaN
2       Boi       282.20       276.05      NaN
3  Petróleo       424.37       393.26      NaN
4   Algodão       497.76       498.88      NaN
5    Açúcar       136.23       134.64      NaN
6      Café      1092.87      1087.87      NaN
7      Ouro       321.77       327.99      NaN
8     Trigo      1549.11      1546.08      NaN
9   Tilápia         9.05         9.05      NaN

In [5]:
nav.quit()
tabela['Comprar'] = tabela['Preço Ideal']> tabela['Preço Atual']
tabela.to_excel('commodities_atualizado.xlsx', index = False)

In [6]:
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49    False
1      Soja       163.59       162.64     True
2       Boi       282.20       276.05     True
3  Petróleo       424.37       393.26     True
4   Algodão       497.76       498.88    False
5    Açúcar       136.23       134.64     True
6      Café      1092.87      1087.87     True
7      Ouro       321.77       327.99    False
8     Trigo      1549.11      1546.08     True
9   Tilápia         9.05         9.05    False